<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <!-- <link href="/output.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="<%=url%>/css/output.css" />
  </head>
  <body>
    <h1 class="text-4xl font-bold text-center mt-8 text-cyan-500">
      Bienvenue dans votre projet Node.js avec EJS et Tailwind CSS
    </h1>
  </body>
</html>
